[data-md-color-scheme="javi"] {
  --md-primary-fg-color:        #0077b6;
  --md-primary-fg-color--light: #0077b6;
  --md-primary-fg-color--dark:  #0077b6;
}

[data-md-color-scheme="slate"] {
    --md-primary-fg-color:        #0077b6;

    // Default color shades 
   --md-default-fg-color:               hsla(0, 0%, 100%, 1); 
   --md-default-fg-color--light:        hsla(0, 0%, 100%, 0.87); 
   --md-default-fg-color--lighter:      hsla(0, 0%, 100%, 0.32); 
   --md-default-fg-color--lightest:     hsla(0, 0%, 100%, 0.12); 
   --md-default-bg-color:               hsla(232, 15%, 21%, 1); 
   --md-default-bg-color--light:        hsla(232, 15%, 21%, 0.54); 
   --md-default-bg-color--lighter:      hsla(232, 15%, 21%, 0.26); 
   --md-default-bg-color--lightest:     hsla(232, 15%, 21%, 0.07); 
  
   // Code color shades 
   --md-code-bg-color:                  hsla(232, 15%, 18%, 1); 
   --md-code-fg-color:                  hsla(60, 30%, 96%, 1); 
  
   // Text color shades 
   --md-text-color:                     var(--md-default-fg-color--light); 
   --md-text-link-color:                var(--md-primary-fg-color); 
  
   // Admonition color shades 
   --md-admonition-bg-color:            hsla(0, 0%, 100%, 0.025); 
   --md-admonition-fg-color:            var(--md-default-fg-color); 
  
   // Footer color shades 
   --md-footer-bg-color:                hsla(232, 15%, 12%, 0.87); 
   --md-footer-bg-color--dark:          hsla(232, 15%, 10%, 1); 
  }


  ul li {
    list-style-type: '✨';
  }

  body {
    text-align: justify;
  }

  h1 {
    text-align: center;
  }

  h2 {
    color: #34baeb;
  }

  h3 {
    color: #c6eb34;
  }

  table {
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
  }

  .md-typeset .admonition,
.md-typeset details {
  border-width: 3;
  border-left-width: 4px;
  font-size: 15px;
}

